/* static/css/style.css */

body{
    margin:0;
    padding:0;
    background-color:#EEF2F7;
    font-family:'Inter',sans-serif;
}

/* SIDEBAR */

.sidebar{
    width:220px;
    /*min-height:100vh;*/
    background-color:#1B263B;
    position:fixed;
    height:100vh;
}

.logo{
    color:white;
    font-weight:700;
}

.sidebar .nav-link{
    color:#CBD5E1;
    padding:12px 15px;
    border-radius:10px;
    font-size:15px;
    transition:0.3s;
}

.sidebar .nav-link i{
    margin-right:10px;
}

.sidebar .nav-link:hover{
    background-color:#2563EB;
    color:white;
}

.active-link{
    background-color:#2563EB;
    color:white !important;
}

.main-content{
    margin-left:220px;
}

/* NAVBAR */

.top-navbar{
    background:white;
    border-bottom:1px solid #E5E7EB;
    height:60px;
    padding:0 20px;
}

.dashboard-title{
    font-weight:600;
    color:#111827;
    font-size:22px;
}

.search-box{
    position:relative;
}

.search-box input{
    border:none;
    background:#F3F4F6;
    padding:10px 15px 10px 40px;
    border-radius:10px;
    outline:none;
    width:240px;
}

.search-box i{
    position:absolute;
    top:11px;
    left:12px;
    color:#6B7280;
}

.nav-icon{
    font-size:20px;
    color:#374151;
    cursor:pointer;
}

.profile-icon{
    font-size:28px;
    color:#2563EB;
    cursor:pointer;
}

/* KPI CARDS */

.dashboard-card{
    border:none;
    border-radius:12px;
    box-shadow:0 1px 6px rgba(0,0,0,0.05);
    /*padding:8px*/
    transition:0.3s;
    background:white;
}

.card-title{
    color:#6B7280;
    font-size:15px;
}

.card-value{
    font-weight:700;
    color:#111827;
    font-size:30px;
    margin-top:5px;
}

.icon-box{
    width:40px;
    height:40px;
    /*background:#DBEAFE;*/
    background:#EFF6FF;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.icon-box i{
    font-size:18px;
    color:#2563EB;
}

/* CHARTS */

.chart-card{
    border:none;
    border-radius:12px;
    box-shadow:0 1px 6px rgba(0,0,0,0.05);
    background:white;
    /*padding:5px;*/
}

.chart-title{
    margin-bottom:8px;
    font-weight:600;
    color:#111827;
    font-size:16px;
}

.chart-description{
    color:#6B7280;
    font-size:13px;
    margin-bottom:15px;
    line-height:1.5;
}

/* TABLE */

.table-card{
    border:none;
    border-radius:12px;
    box-shadow:0 1px 6px rgba(0,0,0,0.05);
    background:white;
}

.table-title{
    font-weight:600;
    color:#111827;
}

.table thead{
    background-color:#F9FAFB;
}

.table th{
    color:#6B7280;
    font-weight:600;
    padding:14px;
    font-size:14px;
}

.table td{
    color:#111827;
    padding:14px;
    font-size:14px
}
/* DASHBOARD OVERVIEW */

.dashboard-overview{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
    
    /*max-width:900px;
    margin:auto;*/
}

.overview-title{
    color:#111827;
    font-weight:700;
    margin-bottom:10px;
    text-align:center;
}

.overview-text{
    color:#6B7280;
    line-height:1.7;
    margin:0;
    text-align:center;
}

.dashboard-card:hover{
    transform:translateY(-2px);
}

/* CALENDAR */

.calendar-card{
    border:none;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,0.06);
}

.calendar-title{
    font-weight:600;
    color:#111827;
}

.calendar-description{
    color:#6B7280;
    margin-bottom:20px;
}

#calendar{
    background:white;
    padding:10px;
    border-radius:10px;
}

/* RESPONSIVE */

@media(max-width:992px){

    .sidebar{
        display:none;
    }

    .search-box input{
        width:160px;
    }

}