{% extends 'base.html' %}
{% block content %}

        <div class="container-fluid p-3">
            <div class="dashboard-overview mb-4">
                <h3 class="overview-title">
                    Executive Intelligence Overview
                </h3>
                <p class="overview-text">
                    This dashboard provides a comprehensive overview of companies,
        executives, sector distribution, and outreach analytics.
        It helps users monitor executive intelligence data,
        analyze business sectors, and track company information efficiently.
                </p>
                </div>

            <!-- KPI CARDS -->
            <div class="row g-4">
                <div class="col-lg-3 col-md-6">
                    <a href="/companies"
                    class="company-card-link">
                    <div class="card dashboard-card">
                        <div class="card-body p-3">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h6 class="card-title">
                                        Total Companies
                                    </h6>
                                    <h2 class="card-value">
                                        {{ stats.companies }}
                                    </h2>
                                </div>
                                <div class="icon-box">
                                    <i class="bi bi-building"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                   </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="/executives"
                    class="company-card-link">
                    <div class="card dashboard-card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h6 class="card-title">
                                        Total Executives
                                    </h6>
                                    <h2 class="card-value">
                                        {{ stats.executives }}
                                    </h2>
                                </div>
                                <div class="icon-box">
                                    <i class="bi bi-people"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="/sector-analytics"
                    class="company-card-link">
                    <div class="card dashboard-card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h6 class="card-title">
                                        Total Sectors
                                    </h6>
                                    <h2 class="card-value">
                                        {{ stats.sectors }}
                                    </h2>
                                </div>
                                <div class="icon-box">
                                    <i class="bi bi-pie-chart"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="/outreach?filter=active"
                    class="text-decoration-none">
                    <div class="card dashboard-card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h6 class="card-title">
                                        Contacted Executives
                                    </h6>
                                    <h2 class="card-value">
                                        {{ stats.contacted }}
                                    </h2>
                                </div>
                                <div class="icon-box">
                                    <i class="bi bi-telephone-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            </div>

            <!-- CHARTS -->
            <div class="row mt-4">
                <!-- Doughnut Chart -->
                <div class="col-lg-6 mb-4">
                    <div class="card chart-card">
                        <div class="card-body">
                            <h5 class="chart-title">
                                Sector Distribution
                            </h5>
                            <p class="chart-description">
    This chart represents the distribution of companies
    across different business sectors, helping users
    analyze sector-wise company presence and market trends.
                            </p>
                        
                            <canvas id="sectorChart" width="220" height="220" ></canvas>
                        </div>
                    </div>
                </div>

                <!-- Bar Chart -->
                <div class="col-lg-6 mb-4">
                    <div class="card chart-card">
                        <div class="card-body">
                            <h5 class="chart-title">
                                Industry Distribution
                            </h5>
                            <p class="chart-description">
    This chart displays the number of companies
    across various industries, providing insights
    into industry-wise business distribution and analytics.
</p>
                            <canvas id="industryChart" width="220" height="220"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ACTIVITY CALENDAR -->
<div class="card calendar-card mt-4">
    <div class="card-body">
        <h5 class="calendar-title">
            Activity Calendar
        </h5>
        <p class="calendar-description">
            Track executive outreach activities,
            meetings, follow-ups, and business interactions.
        </p>
        <div id="calendar"></div>
    </div>
</div>

            <!-- RECENT EXECUTIVES TABLE -->
            <div class="card table-card mt-5">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="table-title">
                            Recent Executives
                        </h5>
                        <a href="/executives" class="btn btn-primary">
                        View All
</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-middle">
                            <thead>
                                <tr>
                                    <th>Executive</th>
                                    <th>Company</th>
                                    <th>Sector</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                           <tbody>
{% for executive in recent_executives %}
<tr>
    <td>{{ executive.Name }}</td>
    <td>{{ executive.company_name }}</td>
    <td>{{ executive.sector_name }}</td>
    <td>
{%if executive.current_status%}
{% if executive.current_status == "Interested" %}

    <span class="badge bg-success">

        {{ executive.current_status }}

    </span>

{% elif executive.current_status ==
"Follow-Up Pending" %}

    <span class="badge bg-warning text-dark">

        {{ executive.current_status }}

    </span>

{% elif executive.current_status ==
"Non Contacted" %}

    <span class="badge bg-secondary">

        {{ executive.current_status }}

    </span>

{% else %}

    <span class="badge bg-primary">

        {{ executive.current_status }}

    </span>

{% endif %}
{%else%}
<span class="badge bg-secondary">
    Non Contacted
</span>
{%endif%}
</td>
</tr>
{% endfor %}
</tbody>
                        </table>
                    </div>
                </div>
            </div>
<!-- CHART JS -->
<link
href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css'
rel='stylesheet' />
<script
src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'>
</script>
<script>
    // DOUGHNUT CHART
    const sectorCtx = document.getElementById('sectorChart');
    new Chart(sectorCtx, {
        type: 'doughnut',
        data: {
            labels: {{sector_labels|tojson}},
            datasets: [{
                data: {{sector_counts|tojson}},
                backgroundColor: [
                    '#2563EB',
                    '#3B82F6',
                    '#60A5FA'
                ],
                borderWidth: 0
            }]
        },
        options: {
            responsive: false,
            maintainAspectRatio:true,
            plugins: {
                legend: {
                    position: 'bottom'
                },
                layout:{
                    padding:20
                }
            }
        }
    });
    // DOUGHNUT CHART
    const industryCtx = document.getElementById('industryChart');
    new Chart(industryCtx, {
        type: 'doughnut',
        data: {
            labels: {{industry_labels|tojson}},
            datasets: [{
                label: 'Companies',
                data: {{industry_counts|tojson}},
                backgroundColor: ['#2563EB',
                    '#3B82F6',
                    '#60A5FA',
                    '#93C5FD',
                    '#BFDBFE',
                    '#1D4ED8'],
                borderWidth: 0
            }]
        },
        options: {
            responsive: false,
            maintainAspectRatio:true,
            plugins: {
                legend: {
                    position: 'bottom'
                },
                layout:{
                    padding:20
                }
            }
        }
    });
document.addEventListener(
'DOMContentLoaded',
function(){
    const calendarEl =
    document.getElementById('calendar');
    const calendar =
    new FullCalendar.Calendar(
        calendarEl,
        {
            initialView:'dayGridMonth',
            height:350,
            events: {{ events|tojson|safe }},
            evenClick : function(info){
                window.location.href=
                info.event.url;
            }
        }
    );
    calendar.render();
});
</script>
{% endblock %}